.mainconatainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.letfside{
  height: 90%;
  width: 40%;
  border: 1px solid rgb(23, 20, 20); 
}
.rightside{
  height: 90%;
  width: 40%;
  border: 1px solid rgb(5, 2, 2); 
  padding: 20px;
}
.textarea{
  height: 100%;
  width: 100%;
  background-color: rgb(226, 240, 240);
  outline: none;
  font-size: 1rem;
  padding: 20px;
}